html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.header {
  color: rgb(51, 155, 141);
  text-align: center;
  width: 600px;
  margin: 40px auto;
  padding: 30px;
  border: 7px solid rgb(255, 228, 196);
  font-size: 4rem;
}
.parent1 {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
}
.child-1,
.child-2,
.child-3 {
  width: 28%;
  height: 50%;
  background-color: rgb(0, 128, 90);
  text-align: center;
  margin-bottom: 3em;
}
#img-2 {
  width: 25rem;
  height: 25rem;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}
