html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.header {
  color: rgb(51, 155, 141);
  text-align: center;
  width: 600px;
  margin: 40px auto;
  padding: 30px;
  border: 7px solid rgb(255, 228, 196);
  font-size: 4rem;
}
.pyro {
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fire1,
.fire2,
.fire3 {
  border: 3px solid #d12027;
  width: 28%;
  margin-bottom: 3em;
  margin: 40px auto;
<<<<<<< HEAD
  text-align: center;
}

.hydro {
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.water1,
.water2,
.water3 {
  background-color: rgb(40, 142, 165);
  height: 10em;
  border-radius: 20px;
  width: 28%;
  margin: 40px auto;
  text-align: center;
}
.electro {
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.purple1,
.purple2,
.purple3 {
  background-color: rgb(40, 42, 165);
  height: 10em;
  border-radius: 20px;
  width: 28%;
  margin: 40px auto;
  text-align: center;
=======
>>>>>>> parent of 77ee7dd (v3)
}
